/* min-width: 1260px, min-height: 680px; */
body {
    /*background: #212733;*/
    background: url("../img/bg-all.png") no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
    position: relative;
    /*background: #ccc;*/
}
#area_game {
    /*width: 1004px;*/
    /*height: 1075px;*/
    height: auto;
    margin: auto;
    padding: 0px;
    position: relative;
    /*background: url("../img/bg.jpg") no-repeat;*/
}
.area_game__user_count {
    color: #ccc;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 30px 0;
    background: rgba(0,0,0, .7);
    border-radius: 0 0 10px 10px;
    margin-left: 35px;
}
.area_game__user-message {
    text-align: center;
    color: rgb(135, 204, 255);
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    padding: 20px 0;
    background: rgba(0,0,0, .7);
    border-radius: 10px 10px 0 0;
    margin-left: 35px;
}
#area_game__user-message--msg {
    color: rgb(236, 236, 236);
    display: block;
    padding: 0 15px;
}
/*#area_game__table {
    left: 173px;
    top: 98px;
}*/
#area_game__table > tbody > tr > td {
    width: 118px;
    height: 118px;
    cursor: pointer;
    background: url("../img/border.png") repeat center;
}
#area_game__table > tbody > tr > td:first-child{
    background: none;
}
#area_game__table > thead > tr > td > p,
#area_game__table > tbody > tr > td > p {
    color: #ccc;
    font-size: 30px;
    text-align: center;
}
/*#area_game__table > tbody > tr > td:not(:nth-child(1)):hover::after {
    content: attr(data-title);
    padding-left: 48px;
    color: rgba(135, 204, 255, 0.72);
}*/
#area_game__form {
    margin: 0px;
    padding: 7px;
    background-color: #30384E;
}
#crdInput {
    width: 227px;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #4E6DA2;
}
#btnShot {
    padding: 5px;
    cursor: pointer;
    border: 1px solid #4E6DA2;
    color: #2F3750;
    background-color: #ECECEC;
}

#area_game .burger0 {
    background: url("../img/burger0.png") no-repeat center center;
    transition: 0.5s;
}
#area_game .burger1 {
    background: url("../img/burger1.png") no-repeat center center;
    transition: 0.5s;
}
#area_game .burger2 {
    background: url("../img/burger2.png") no-repeat center center;
    transition: 0.5s;
}
#area_game .burger3 {
    background: url("../img/burger3.png") no-repeat center center;
    transition: 0.5s;
}
#area_game .burger4 {
    background: url("../img/burger4.png") no-repeat center center;
    transition: 0.5s;
}
#area_game .burger5 {
    background: url("../img/burger5.png") no-repeat center center;
    transition: 0.5s;
}

#area_game .brend {
    background: url("../img/logo.png") no-repeat center center;
    transition: 0.5s;
}

#body-wrapp{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0, .3);
    z-index: 9999999;
    display: flex;
    justify-content: center;
    text-align: center;
    display: none;
}

.middle-block{
    margin: auto 0;
    color: #fff;
    font-family: Verdana;
}

.middle-block p{
    font-size: 22px;

}

.button{
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    visibility: hidden;
}
.button:hover{
    opacity: 1;
}

.game-wrapp{
    display: flex;
}

.block-game{

}
.block-info{
    flex-basis: 40%;
    text-align: center;
    margin-top: 90px;
    padding-left: 35px;
    /*visibility: hidden;*/
}

@media screen and (max-width: 1658px) , screen and (max-height: 937px) {
  #area_game__table > thead > tr > td > p, #area_game__table > tbody > tr > td > p{
    margin: 5px;
  }
  #area_game__table > tbody > tr > td{
    width: 90px;
    height: 90px;
    background: url(../img/border.png) no-repeat center;
    background-size: contain;
    padding: 0;
  }
  #area_game .brend{
    background: url(../img/logo.png) no-repeat center center;
    background-size: cover;
  }
  #area_game .burger0{
    background-size: contain;
  }
  #area_game .burger1{
    background-size: contain;
  }
  #area_game .burger2{
    background-size: contain;
  }
  #area_game .burger3{
    background-size: contain;
  }
  #area_game .burger4{
    background-size: contain;
  }
  #area_game .burger5{
    background-size: contain;
  }
}